<% layout('layouts/layout') %>
    <link rel="stylesheet" href="/styles/changePassword.css">
    <div class="form-container">
        <h2>Reset Your Password</h2>

        <% if (messages.error) { %>
            <div class="alert alert-danger">
                <%= messages.error %>
            </div>
            <% } %>

                <form action="/change-password" method="POST">

                    <input type="hidden" name="email" value="<%= email %>">
                    <input type="hidden" name="username" value="<%= username %>">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="<%= email %>" disabled>
                    </div>

                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" value="<%= username %>" disabled>
                    </div>

                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm">Confirm Password</label>
                        <input type="password" name="confirm" required>
                    </div>

                    <button type="submit">Update Password</button>
                </form>
    </div>